<!DOCTYPE html>
<html>
  <head>
    <title>Hot Parking! - login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js'></script>
  </head>
  <body>
    <h1>Hot Parking</h1>
    <p>Your one-stop spot for all of your apartment parking needs!</p>
    <p>{{thetext}}</p>
    <h3>Current Spot</h3> <p class="info">{{currentSpot}}</p>
    <h3>New Spot</h3> <p>{{choice}}</p>
    <p>Do you want to make this change?</p>
    <form action="choosespot">
        <input type="submit" value="No">
    </form>
    <form action="/confirmSwitchedSpot" method="POST">
        <button type="submit" name="newSpot" value={{choice}}>Yes</button>
    </form>
  </body>
</html>
