<!DOCTYPE html>
<html>
  <head>
    <title>Hot Parking! - login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js'></script>
  </head>
  <body>
    <h1>Hot Parking</h1>
    <p>Your one-stop spot for all of your apartment parking needs!</p>
    <p>{{thetext}}</p>
    <h2>Login</h2>
    <form class="col-md-4" action="/useraccount" method="POST">
        <fieldset class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name ="email" id="exampleInputEmail1" placeholder="Enter email">
        </fieldset>
        <fieldset class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </fieldset>
        <button type="submit" class="btn btn-primary" value="login">Submit</button>
        <br>
        <small class="text-muted">Not a HotParking user? <a href="signup">Click here.</a></small>
        <p name="text"></p>
    </form>

  </body>
</html>
