<!DOCTYPE html>
<html>
  <head>
    <title>Hot Parking! - login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js'></script>
  </head>
  <body>
    <h1>Hot Parking</h1>
    <p>Your one-stop spot for all of your apartment parking needs!</p>
    <p>{{thetext}}</p>
    {% if listOfSuitors %}
      <h3>These people want to switch spots with you:</h3>
       {% for item in listOfSuitors %}
          <p name="usersEmail" value={{item}}>{{item}}</p>
       {% endfor %}
    {% else %}
       <p>Nobody wants your parking spot right now.</p>
    {% endif %}


  </body>
</html>
