
<!DOCTYPE html>
<html>
  <head>
    <title>Hot Parking! - login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js'></script>
  </head>
  <body>
    <p>You are logged in as: {{text}}</p>
    <h1>Hot Parking</h1>
    <p>Your one-stop spot for all of your apartment parking needs!</p>
    <h2>Your Account</h2>
    <h3>Current Spot</h3> <p class="info">{{spot}}</p>
    <h3>First Name</h3> <p class="info">{{firstName}}</p>
    <h3>Last Name</h3> <p class="info">{{lastName}}</p>
    <h3>Email</h3> <p class="info">{{email}}</p>
    <h3>Password</h3> <p class="info">{{password}}</p>
    <hr>
    <h2>Want to choose a new spot?</h2>
  </body>
</html>
